
body {
	font-family: 'Jura-Regular';
}

#content {
	display: block;
	width: 75%;
	margin-left: 12.5%;
	min-width: 720px;
}

h1 {
	text-align: center;
	color: #0da63c;
	font-family: 'Jura-Medium';
	font-size: 42pt;
	margin: 25px 0 0 0;
}

h2 {
	color: #b2001e;
	font-family: 'Jura-DemiBold';
	font-size: 25pt;
	margin: 35px 0 0 0;
}

p {
	font-size: 16pt;
	padding-bottom: 30px;
}

#korean {
	padding-top: 10px;
	margin: 34px 0 0 0;
	padding: 0;
}

#arrowtoicon {
	float: right;
}
